*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px;
    
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}
#background,#foreground-1,#foreground-2{
    position: absolute;
    height:100%;
    width:100%;
    object-fit: cover;
}
#background{
    transform: translateZ(-60px) scale(8);
    
}

#foreground-1{
    transform: translateZ(-30px) scale(4);
}

#foreground-2{
    height: 700px;
    width: auto;
    top: 100px;
    
 
}
#OP-text{
    transform: translateZ(-50px) scale(3);   
}

.sec-1{
   
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
   
}
#intro{
    
    display:flex;
    background-image: linear-gradient(to bottom right,#30A2FF,#00C4FF,#FFE7A0,#FFF5B8);
    padding: 50px;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    color: black;
    text-align: justify;
    line-height: 1.7;

}
.intro-img{
    position: relative;
    right: 50px;

    
}
.ship-position{
    position: relative;
    right: 0;
}
.intro-text{
    position: relative;
    right: 1px;
    inline-size: 900px;
}
.adjust{
    position: relative;
    display: flex;
    background-color: burlywood;
    justify-content: center;
    align-items: center;
    padding: 80px;
    text-align: justify;
    
}
.text-right{
    position: absolute;
    top: 60px;
    left: 47%;
}
.text-left{
    position: absolute;
    top: 100px;
    left: 90px;
}
.text-size{
    inline-size: 700px;
}
.bg-1{
    background-image: url(./images/luffy-bg.webp);
}
.bg-2{
    background-image: url(./images/zoro-bg.webp);
}
.bg-3{
    background-image: url(./images/ussop-bg.webp);
   
}
.bg-4{
    background-image: url(./images/sanji-bg.webp);
}
.bg-5{
    background-image: url(./images/nami-bg.webp);
    background-position: center;
}
.bg-6{
    background-image: url(./images/chopper-bg.webp);
    
}
.bg-7{
    background-image: url(./images/robin-bg.webp);
}
.bg-8{
    background-image: url(./images/franky-bg.webp);
}
.bg-9{
    background-image: url(./images/brook-bg.webp);
    background-position: center;
}
.bg-10{
    background-image: url(./images/jimbei-bg.webp);
}
p,h2{
    font-family: 'Cormorant Garamond', serif;
    
}
h2{
    font-size: 50px;
}
p{
    font-size: 18px;
}
.luffy-sec-2{
    background-image: linear-gradient(#75C2F6,#35A29F);
}
.zoro-sec-2{
    background-image: linear-gradient(#35A29F,#F3AA60);
}
.ussop-sec-2{
    background-image: linear-gradient(#F3AA60,#FBD85D);
}
.sanji-sec-2{
    background-image: linear-gradient(#FBD85D,#068FFF);
}
.nami-sec-2{
    background-image: linear-gradient(#068FFF,#FF90BB);
}
.chopper-sec-2{
    background-image: linear-gradient(#FF90BB,#6554AF);
}
.robin-sec-2{
    background-image: linear-gradient(#6554AF,#00C4FF);
}
.franky-sec-2{
    background-image: linear-gradient(#00C4FF,#35155D);
}
.brook-sec-2{
    background-image: linear-gradient(#35155D,#241468);
}
.jinbe-sec-2{
    background-image: linear-gradient(#241468,#322653);
}
.sec-color{
    color:#F6F1F1
    
}
footer{
    padding: 20px;
    text-align: center;
    background-image: linear-gradient(#322653,black);
    color: white;
    height: 200px;
    
}
footer p{
    margin-top: 100px;
}
footer a{
    text-decoration: none;
    color: white;
}
#foreground-2{
    animation: float 6s ease-in-out infinite;
}
@keyframes float {
	0% {
		
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-20px);
	}
	100% {
		
		transform: translatey(0px);
	}
}

@media screen and (max-width: 932px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    #wrapper{
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        perspective: 10px;
        
    }
    .container{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
        transform-style: preserve-3d;
        z-index: -1;
    }
    #background,#foreground-1,#foreground-2{
        position: absolute;
        height:100%;
        width:100%;
        object-fit: cover;
    }
    #background{
        transform: translateZ(-60px) scale(30);
        height: 200px;
        width: 100%;
        
    }
    
    #foreground-1{
        transform: translateZ(-30px) scale(5) translateX(-20px);
        height: 200px;
        width: 100%;
        overflow: visible;
    }
    
    #foreground-2{
        overflow: visible;
        height: 100px;
        width: 100%;
        top: 200px;
        
     
    }
    #OP-text{
        transform: translateZ(-50px) scale(.9) translateY(-400px);   
    }
    #intro{
    
        display:flex;
        flex-direction: column;
        background-image: linear-gradient(to bottom right,#30A2FF,#00C4FF,#FFE7A0,#FFF5B8);
        padding: 50px;
        justify-content: center;
        align-items: center;
        font-weight: 100;
        color: black;
        text-align: justify;
        line-height: 1.7;
        height: 100%;
        width: 100%;
    
    }
    .intro-text{
        width: 100%;
    }
    .intro-img{
        position: relative;
        right: 10px;
    
        
    }
    .ship-position{
        position: relative;
        right: 0;
    }
    .bg{
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }
    .adjust{
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: burlywood;
        justify-content: center;
        align-items: center;
        padding: 80px;
        text-align: justify;
        
    }
    .text-right{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .adjust h2{
        font-size: 40px;
        
        transform: translateX(40px);
    }
    .adjust img{
        height: 300px;
    }
    .sec-1 img{
        height: 100px;
    }
    .text-size{
        margin-top: 20px;
        width: 100%;
    }
    .text-left{
        top: 20px;
        left: 40px;
        text-align: center;
    }
    .ussop-sec-2 h2{
        margin-left: 70px;
    }
    .sanji-sec-2 h2{
        margin-left: 60px;
    }
    .nami-sec-2 h2{
        margin-left: 70px;
    }
    .chopper-sec-2 h2{
       left: 5px;
    }
    .robin-sec-2 h2{
       left: 55px;
    }
    .franky-sec-2 h2{
        left: 85px;
    }
    .brook-sec-2 h2{
        left: 100px;
    }
    .jinbe-sec-2 h2{
        left: 100px;
    }
    .bg-3{
        background-position-x: 0px;
    }
    .bg-4{
        background-position-x: -600px;
    }
    .bg-10 img{
        height: 400px;
    }
    
}